 
<% if (typeof errorMessage  !== 'undefined' && errorMessage.length > 0) { %>
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4">
                <strong class="font-bold">Please fix the following errors:</strong>
                <ul class="list-disc list-inside mt-2">
                    <% errorMessage.forEach(error => { %>
                        <li><%= error %></li>
                    <% }) %>
                </ul>
            </div>
<% } %>